body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid, .row, .leftCol, .rightCol, .top, .topTop, .bottom, .bottomTop, .bottomBottom, .topBottom {
  padding: 0;
  margin: 0;
}

/*<---Navbar-->*/
#navLogo {
  width: 200px;
  margin-left: 15px;
  padding-top: 10px;
}
.navbar-header {
  height: 64px !important;
  padding-top: 10px;
  padding-left: 18px;
}

.navbar-brand {
  width: 50%;
  padding: 0;
  height: 64px !important;
}


.navbar {
  background-color: white;
  border-radius: 0;
  border: none;
  height: 64px !important;
  margin: 0;
}

.navbar-toggle {
  border: none;
}

li {
  list-style: none;
}

#searchIcon {
  margin-top: 1.3em;
  margin-left: 6.5em;
  width: 4%;
}

/*<--Main Block-->*/

.mainRow {
  height: 544px;
}

.leftCol {
  height: 100%;
}

.row img {
 object-fit: cover;
 overflow: hidden;
}

.rightCol {
  height: 100%;
}

.top, .bottom {
  height: 50%;
}

.bottomTop, .topTop {
  padding: 0;
  height: 70%;
}

.topBottom {
  background-color: #0d47a1;
  color: white;
  height: 30%;
}

.xsBoxTop {
  background-color: #0d47a1;
  color: white;
  margin: 0;
  padding: 0;
  height: 50% !important;
}

.xsBoxBottom {
  background-color: #009688;
  color: white;
  margin: 0;
  padding: 0;
  height: 50% !important;
}

.bottomBottom {
  background-color: #009688;
  color: white;
  height: 30%;
}

.boxText {
  padding: 5px;
}

.topText {
  font-size: 12pt;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 300;
}

.bottomText {
  font-size: 9pt;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 100;
}
