body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid, .row, .col-xs-12, .col-xs-4, .col-xs-8 {
  padding: 0;
  margin: 0;
}

/*<---Navbar-->*/
#navLogo {
  width: 100%;
  margin: 0;
  padding-top: 10px;
}
.navbar-header {
  height: 64px !important;
  padding-top: 10px;
  padding-left: 18px;
}

.navbar-brand {
  width: 50%;
  padding: 0;
  height: 64px !important;

}

.navbar {
  background-color: white;
  border-radius: 0;
  border: none;
  height: 64px !important;
  margin: 0;
}

.navbar-toggle {
  border: none;
}

li {
  list-style: none;
}

#searchIcon {
  margin-top: 1.3em;
  margin-left: 6.5em;
  width: 4%;
}

/*<--Black Friday Image-->*/

#relativeImage {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: none;
}

#blackFridayImage {
  margin: 0 !important;
  /*width: 100%;*/
  /*display: block;*/
  /*margin: auto;*/
}

.blackFridayInfo {
  width: 90%;
  height: auto;
  background-color: #263238;
  position: absolute;
  left: 16px;
  bottom: 16px;
  color: white;
  text-align: left;
  padding: 16px;
  display: block;
  margin: auto;
}

.blackFridayInfo p:first-child {
  font-size: 1.5em;
  font-weight: 100;
  font-weight: bold;
}

.blackFridayInfo p:last-child {
  font-size: .9em;
  font-weight: 100;
}

#fontBold {
  font-size: 1.2em;
  font-weight: 100;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

#fontLight {
  font-size: .9em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.mobileInfo {
  background-color: #0d47a1;
  color: white;
  padding: 10px 10px;
}

.mediaPlanning {
  background-color: #009688;
  color: white;
  padding: 10px;
}

.mobileImage {
  /*background-image: url("img/mobilefirst.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: block;*/
}

row {
  max-height: 5vh !important;
  display: table !important;
}

/*img {
  max-width: 150%;
  max-height: 150%;
  display: table-cell;
  vertical-align: middle;

}*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
