#navLogo {
  width: 100%;
  margin: 0;
}

.navbar-brand {
  width: 50%;
}

.navbar {
  background-color: white;
  border-radius: 0;
  border: none;
}

.navbar-toggle {
  border: none;
}

li {
  list-style: none;
}

#searchIcon {
  margin-top: 1em;
  margin-left: 5.5em;
  width: 7%;
}
